<div class="row">
    <table>
      <thead>
        <tr>
          <th colspan="3">Lista de platos creados por el cliente:</th>
        </tr>
      </thead>
      <tbody>
        <% if @lista_platos.empty? %>
          <tr>
            <td colspan="3">No hay ningún menú creado todavía</td>
          </tr>
        <% else %>
          <% @lista_platos.each do |plato| %>
            <tr>
              <td class= "text-start" colspan="2">
                <%= plato.nombre %>
              </td>
              <td>
                <%= link_to "Mostrar", plato_path(plato.id),
                 class: "btn btn-sm btn-primary text-white"%>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <div class="d-flex justify-content-center">
      <%== pagy_bootstrap_nav(@pagy_lp) if @pagy_lp.pages > 1 %>
    </div>

</div>
