<div class="container">

  <div class="row">
    <h1>Editar cliente</h1>
  </div>

  <%= render 'form', cliente: @cliente %>

  <div class="row">
    <%= link_to 'Mostrar', @cliente, class: "btn btn-warning text-white" %>
  </div>

  <div class="row">
    <%= link_to 'Atrás', clientes_path, class: "btn btn-danger text-white" %>
  </div>
  
</div>
