<div class="container">

  <div class="row">
    <h1>Clientes</h1>
  </div>

  <%= render "clientes/tabla_clientes_index" %>

  <div class="row">
    <%= link_to 'Nuevo Cliente', new_cliente_path,
    class:"btn btn-success text-white" %>
  </div>

</div>
