<div class="container">
  <h1>Nuevo Cliente</h1>

  <%= render 'form', cliente: @cliente %>
</div>

<div class="row">
  <%= link_to 'Atrás', clientes_path, class: "btn btn-danger text-white" %>
</div>
