<div class="row">
    <table>
      <thead>
        <tr>
          <th colspan="2">Platos</th>
        </tr>
      </thead>
      <tbody>
        <% if @menu.menu_platos.empty? %>
          <tr>
            <td>No hay platos añadidos todavía</td>
            <td></td>
          </tr>
        <% else %>
          <% @menu.menu_platos.each do |menu_plato| %>
            <tr>
              <td>
                <%= menu_plato.plato.nombre %>
              </td>
              <td>
                <%= link_to "Eliminar",
                 menu_plato_path(menu_plato, :menu_id => @menu.id),
                 class: "btn btn-danger btn-sm",
                 method: :delete %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
</div>
