<div class="container">

  <div class="row">
    <h1>Editando Menu</h1>
  </div>

  <%= render 'form', menu: @menu %>

  <div class="row">
    <%= link_to 'Mostrar', @menu, class: "btn btn-warning text-white" %>
  </div>

  <div class="row">
    <%= link_to 'Atrás', menus_path, class: "btn btn-danger text-white" %>
  </div>
</div>
