<div class="container">
  <div class="row">
    <h1>Nuevo Menu</h1>

    <%= render 'form', menu: @menu %>
  </div>
  <div class="row">
    <%= link_to 'Atrás', menus_path, class: "btn btn-danger text-white" %>
  </div>
</div>
