<div class="container">

  <div class="row">
    <h1>Ingredientes</h1>
  </div>

  <%= render "ingredientes/tabla_ingredientes_index" %>

  <div class="row">
    <%= link_to 'Nuevo Ingrediente', new_ingrediente_path, class: "btn btn-success text-white" %>
  </div>

</div>
