<div class="container">
  <div class="row">
    <h1>Nuevo Ingrediente</h1>

    <%= render 'form', ingrediente: @ingrediente %>
  </div>
  <div class="row">
    <%= link_to 'Back', ingredientes_path, class: "btn btn-danger text-white" %>
  </div>
</div>
