<div class="container mt-3">
  <h1>Editando Grupo de ingredientes</h1>

  <%= render 'form', grupoingrediente: @grupoingrediente %>
</div>

<div class="row mt-3">
  <%= link_to 'Mostrar', @grupoingrediente, class: "btn btn-warning text-white" %>
</div>

<div class="row">
  <%= link_to 'Atrás', grupoingredientes_path, class: "btn btn-danger text-white" %>
</div>
