<div class="container ">

  <div class="row">
    <h1>Editando Grupo de ingredientes</h1>
  </div>

  <%= render 'form', grupoingrediente: @grupoingrediente %>

  <div class="row">
    <%= link_to 'Mostrar', @grupoingrediente, class: "btn btn-warning text-white" %>
  </div>

  <div class="row">
    <%= link_to 'Atrás', grupoingredientes_path, class: "btn btn-danger text-white" %>
  </div>

</div>
