<div class="container">

  <div class="row">
    <h1>Grupo de ingredientes</h1>
  </div>

  <%= render "grupoingredientes/tabla_grupo_index" %>

  <div class="row">
    <%= link_to 'Nuevo grupo de ingredientes',
     new_grupoingrediente_path, class: "btn btn-success text-white" %>
  </div>

</div>
