<div class="container mt-3">
  <h1>Nuevo Grupo de ingrediente</h1>

  <%= render 'form', grupoingrediente: @grupoingrediente %>
</div>

<div class="row">
  <%= link_to 'Back', grupoingredientes_path, class: "btn btn-danfer text-white" %>
</div>
