<div class="container">

  <div class="row">
    <h1>Nuevo Grupo de ingrediente</h1>
  </div>

  <%= render 'form', grupoingrediente: @grupoingrediente %>

  <div class="row">
    <%= link_to 'Atrás', grupoingredientes_path, class: "btn btn-danger text-white" %>
  </div>

</div>
