<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @grupoingrediente.nombre %>
</p>

<%= link_to 'Edit', edit_grupoingrediente_path(@grupoingrediente) %> |
<%= link_to 'Back', grupoingredientes_path %>
