<div class="container">

  <div class="row">
    <h1><%= @grupoingrediente.nombre %></h1>
  </div>

  <div class="row">
    <%= link_to "Editar #{@grupoingrediente.nombre}", edit_grupoingrediente_path(@grupoingrediente),
    class: "btn btn-warning text-white" %>
  </div>

  <%= render "grupoingredientes/tabla_grupo_ingredientes" %>

  <div class="row">
    <%= link_to 'Atrás', grupoingredientes_path,
    class: "btn btn-danger text-white" %>
  </div>
</div>
