<div class="row">
    <table>
      <thead>
        <tr>
          <th colspan="4">Ingredientes</th>
        </tr>
      </thead>
      <tbody>
        <% if @plato.ingredientes.empty? %>
          <tr>
            <td colspan="4">No hay ingredientes añadidos todavía</td>
          </tr>
        <% else %>
          <% @plato.ingredientes.each do |i| %>
            <tr>
              <td>
                <%= i.nombre %>
              </td>
              <td>
                <p>
                  <% i.alergenos.each do |a|%>
                    <img src="<%= asset_path "#{a.img}" %>" alt="" width="50px">
                  <% end %>
                </p>
              </td>
              <td>
                <%= link_to "Eliminar",
                 ingrediente_path(i.id),
                 class: "btn btn-danger btn-sm text-white",
                 method: :delete %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
</div>
