<div class="row">
  <table>
    <thead>
      <tr>
        <th colspan="2"> Menús con este plato</th>
      </tr>
    </thead>
    <tbody>
      <% if @plato.menus.empty? %>
        <tr>
          <td>
            No hay menús con este plato todavía
          </td>
        </tr>
      <% else %>
        <% @plato.menus.where(cliente_id: current_cliente.id).each do |m| %>
          <tr>
            <td><%= m.nombre %></td>
            <td><%= link_to "Mostrar", menu_path(m.id),
            class: "btn btn-sm btn-primary text-white" %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
