<div class="container">
  
  <div class="row">
    <h1>Editando Plato</h1>
  </div>

  <%= render 'form', plato: @plato %>

  <div class="row">
    <%= link_to 'Mostrar', @plato, class: "btn btn-warning text-white" %>
  </div>

  <div class="row">
    <%= link_to 'Atrás', platos_path, class: "btn btn-danger text-white" %>
  </div>
</div>
