<div class="container">

  <div class="row">
      <h1>Platos</h1>
  </div>

 <%= render "platos/tabla_platos_index" %>

  <div class="row">
      <%= link_to 'Nuevo Plato', new_plato_path, class: "btn btn-danger text-white" %>
  </div>


</div>
