<div class="row text-center">
	<h1>Una solución a medida</h1>
	<p>Fácil, rápido, accesible</p>
</div>

<div class="row">
	<div class="col-8 me-auto">
		<div class="card"">
		  <div class="card-body">
		    <h5 class="card-title">Menús</h5>
		    <p class="card-text">Crea tus propios grupos de platos para imprimirlos
				con sus respectivos alérgenos</p>
		  </div>
		</div>
  </div>
	<div class="col-4 my-auto img-thumbnail text-center">
		<%= image_tag("index/index_menu.jpg", width: "200px") %>
	</div>
</div>

<div class="row">
	<div class="col-4 img-thumbnail text-center">
		<%= image_tag("index/index_platos.jpg", width: "200px") %>
	</div>

	<div class="col-8 ms-auto my-auto">
		<div class="card"">
		  <div class="card-body">
		    <h5 class="card-title">Platos</h5>
		    <p class="card-text">Esgoge los alimentos de tus recetas y podrás ver
				sus alérgenos de inmediato</p>
		  </div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-8 me-auto">
		<div class="card"">
			<div class="card-body">
				<h5 class="card-title">Ingredientes</h5>
				<p class="card-text">¿Utilizas algún ingrediente que no esté en la lista?
				Añádelo y empieza a usarlo en tus platos.</p>
			</div>
		</div>
	</div>

	<div class="col-4 my-auto img-thumbnail text-center">
		<%= image_tag("index/index_ingredientes.jpg", width: "200px") %>
	</div>
</div>

<footer>
	<p>
		Imagen de
		<a href="https://pixabay.com/es/users/karriezhu-801232/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1050813">
		ºKarrie Zhu</a>
		en
		<a href="https://pixabay.com/es/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1050813">
			Pixabay</a>
	</footer>
	</p>
