<div class="row text-center">
	<h1>¿Qué quieres hacer?</h1>
	<p>Selecciona la acción que quieras</p>
</div>

<% if current_cliente.admin?%>
	<%= render "home/index_admin" %>
<% else %>
	<%= render "home/index_usuario" %>
<% end %>
