<div class="container">
  <div class="row">
      <h1>Alergenos</h1>
  </div>

  <%= render "alergenos/tabla_index_alergenos" %>

  <div class="row">
      <%= link_to 'Nuevo Alergeno', new_alergeno_path,
       class: "btn btn-primary text-white" %>
  </div>
</div>
