<div class="container">
  <div class="row">
    <h1>Nuevo alérgeno</h1>
  </div>

  <%= render 'form', alergeno: @alergeno %>

  <div class="row">
    <%= link_to 'Atrás', alergenos_path, class: "btn btn-danger text-white" %>
  </div>
  
</div>
