<div class="container p-3">
  <h1>Nuevo alérgeno</h1>

  <%= render 'form', alergeno: @alergeno %>
</div>


<div class="row">
  <%= link_to 'Atrás', alergenos_path, class: "btn btn-danger text-white" %>
</div>
