<p>¡Hola <%= @resource.email %>!</p>

<p>Tu cuenta ha sido bloqueada porque se ha excedido el número de intentos para logarse.</p>

<p>Haz click en el siguiente enlace para desblquear la cuenta:</p>

<p><%= link_to 'Desbloquear cuenta', unlock_url(@resource, unlock_token: @token) %></p>
